body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
    background-position: left;
    background-size: cover;
}
nav{
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
}
.dropdown-wrapper{
    display: inline-block;
    position: relative;
}
.menu-item{
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;
}
.dropdown-wrapper:hover
#dropdown{
    display: block;
}
.dropdown-wrapper:hover
#dropdownBlocks{
    display: block;
}
.dropdown {
    width: 150px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 20px;
    position: absolute;
    right: 24px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}
.dropdownBlocks {
    width: 150px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 20px;
    position: absolute;
    right: 24px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}
.dropdown a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
}
.dropdown a:last-of-type {
    border: 0;
}
.primary-button {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}
#first-section{
    width: 100%;
    height: 100vh;
}
#firstSectionDIV{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#firstSectionDIV h1{
    width: 100%;
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}
#firstSectionDIV p{
    width: 100%;
    max-width: 1100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
}
#section-two{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    color: white;
}
#section-two i {
    font-size: 96px;
}
#section-two h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 36px;
}
#section-two p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}
#section2-icon1{
    width: 25%;
    background-color: #5acda6;
    text-align: center;
    padding: 112px 48px;
    box-sizing: border-box;
}
#section2-icon1 i:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#section2-icon2{
    width: 25%;
    background-color:  #91ac41;
    text-align: center;
    padding: 112px 48px;
    box-sizing: border-box;
}
#section2-icon2 i:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#section2-icon3{
    width: 25%;
    background-color:  #e4b476;
    text-align: center;
    padding: 112px 48px;
    box-sizing: border-box;
}
#section2-icon3 i:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#section2-icon4{
    width: 25%;
    background-color:  #f69dad;
    text-align: center;
    padding: 112px 48px;
    box-sizing: border-box;
}
#section2-icon4 i:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#section-three{
    background-color:  #f7eee2;
}
#section-three-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
#section-three-wrapper-texts{
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.fresh-food-text{
    color: #91ac41;
    font-size: 24px;
    font-family: "Caveat", cursive;
    margin: 0;
    margin-top: 35px;
}
#section-three-wrapper p{
    text-align: center;
    margin: 0 auto;
}
#section-three-wrapper h2{
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 16px;
}
#s3-header-description{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5;
    margin: 0 auto;
}
#section-three-wrapper-icons{
    display: flex;
    width: 100%;
    flex-direction: row;
    max-width: 1140px;
    margin: 0;
    margin-top: -64px;
    margin-bottom: -40px;
}
.s3-div-icons{
   display: inline-block;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color:  #e3b375;
    padding: 40px;
}
.s3-div-icons:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#section-three-wrapper i {
    font-size: 60px;
}
#section3-icon1{
    width: 25%;
    text-align: center;
    padding: 112px 48px;
}
#section3-icon2{
    width: 25%;
    text-align: center;
    padding: 112px 48px;
    
}
#section3-icon3{
    width: 25%;
    text-align: center;
    padding: 112px 48px;
}
#section3-icon4{
    width: 25%;
    text-align: center;
    padding: 112px 48px;
}
#section-three-wrapper-icons h2{
    font-size: 24px;
    font-weight: 600;
    margin-top: 28px;
}
#section-three-wrapper-icons p{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}
#section-four{
    background-color: white;
}
#section-three-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
#section-four-wrapper-texts{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: -64px;

}
#section-four-wrapper h2{
    text-align: center;
    align-items: center;
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}
#s4-header-description{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5;
}
#testimonials-wrapper{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: -30px;
}
.testimonial-card{
    width: 20%;
    margin: 16px;
    background-color: #f5f6fb;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 40px 30px;
}
.testimonial-card img{
    border-radius: 50%;
    width: 80px;
    margin-bottom: 25px;
}
.testimonial-card p{
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    color: #8b8b99;
    margin: 0;
}
#section-five{
    display: flex;
    justify-content: stretch;
}
#left-follow{
    width: 67%;
    display: inline-block;
    margin: 0;
}
#left-follow img{
    width: 100%;
}
#right-follow{
    width: 33%;
    margin: 0;
    display: inline-block;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
    background-position: left;
    background-size: cover;
}
#follow-text-wrapper{
    margin: 140px ;
}
#right-follow img{
    width: 100%;
}
#right-follow h3{
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
    margin-top: 200px;
}
#right-follow p{
    color: #8b8b99;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
#email-input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    outline: none;
}
#sub-button{
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}
#sub-button:hover{
    border: 1px solid #f69dad;
    background-color: transparent;
    color: #f69dad;
   
}
#section-six{
    width: 100%;
    background-color: #f6fcfa;
}
#stats-wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: stretch;
    box-sizing: border-box;
    
}
.stat {
    width: 25%;
    padding: 0 64px;
}
.stat h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}
.stat p {
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}
#video-section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
#video-section h3 {
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
}
#line-separator{
    width: 96px;
    display: inline-block;
    height: 1px;
    background-color: #e4b476;
    margin-bottom: 36px;
}
#video-section iframe {
    width: 100%;
    height: 425px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-bottom: -32px;
}
#contact-wrapper{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.contact-wrapper-div{
    width: 50%;
    margin-right: 10px;
}
.contact-wrapper-div > div:last-of-type{
    width: 40%;
}
.main-title-contact{
    font-size: 44px;
    margin: 0;
}
.description-contact{
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}
.address-lines{
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}
.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
    outline: none;
}
footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}
@media (max-width: 900px){
    #logo{
        width:45px;
    }
    nav{
        width: 100%;
    }
    #demo-pages-link 
    {
        display: none;
    }
    #watch-video-link
    {
        display: none;
    }
    #blocks-link
    {
        display: none;
    }
    #section-two{
        width: 100%;
        flex-direction: column;
    }
    #section2-icon1{
        width: 100%;
    }
    #section2-icon2{
        width: 100%;
    }
    #section2-icon3{
        width: 100%;
    }
    #section2-icon4{
        width: 100%;
    }
    #section-three-wrapper{
        width: 100%;
    }
    #s3-header-description{
        width: 90%;
    }
    #section-three-wrapper-icons{
        display: block;
        width: 100%;
        margin: 0 auto;
        
    }
    #section3-icon1{
        width: 100%;
        box-sizing: border-box;
    }
    #section3-icon2{
        width: 100%;
        box-sizing: border-box;
        
    }
    #section3-icon3{
        width: 100%;
        box-sizing: border-box;
    }
    #section3-icon4{
        width: 100%;
        box-sizing: border-box;
    }
    #section-four-wrapper{
        display: block;
    }
    #section-four-wrapper-texts{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #testimonials-wrapper{
        display: block;
        width: 100%;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .testimonial-card{
        width: 70%;  
        margin: 0 auto;    
        margin-bottom: 16px;  
    }
    .testimonial-card:last-of-type{
        margin-bottom: -32px;  
    }
    #section-five{
        display: block;
    }
    #left-follow{
        width: 100%;
    }
    #right-follow{
        width: 100%;
        display: block;
        margin-top: -200px;
    }
    #follow-text-wrapper{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
       
    }
    #follow-text-wrapper input{
        width: 80%;  
        margin: 10px auto;     
    }
    #follow-text-wrapper p{
        width: 80%;     
        margin: 0 auto;  
    }
    #right-follow img{
        width: 100%;
    }
    #stats-wrapper{
        display: block;
        width: 100%; 
    }
    .stat{
        width: 100%;
        box-sizing: border-box;
      
    }
    #contact-wrapper{
        display: block;
    }
    .contact-wrapper-div{
        width: 100%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    .fresh-food-text{
        width: 90%;
    }
    .main-title-contact{
       width: 90%;
       margin: 0 auto;
    }
    .address-heading {
        width:90%;
        margin: 0 auto;
    }
    .address-lines{
        width:80%;
        margin: 0 auto;
    }
    .description-contact{
        width: 80%;
        margin: 0 auto;
        padding: 16px;
    }
    .input-box {
        width: 80%;
    }
}